$font-stack: "Montserrat", sans-serif;
$dark-olive: #71745f; // Finch
$cement: #a09f8b; // Dawn
$light-grey: #d3d0c9; // Timberwolf
$font-color: #242424;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}