@use "../../styles/variables" as *;

.howToUse {
  display: flex;
  background-color: $light-grey;
  color: $font-color;
  height: 35rem;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: 2rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    width: 60%;

    li {
      background-color: white;
      padding: 0.5rem;
      --base-indent: 2rem;
      margin-left: calc(var(--base-indent) * (var(--index, 0)) - 2rem);
      margin-bottom: 0.5rem;
      border-radius: 0.5rem 0 0 0.5rem;

      h3,
      p {
        margin: 0;
      }
    }
  }
}