@use "../../styles/variables" as *;

$height-intro: 30rem;

.introduction {
  display: flex;
  height: $height-intro;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5rem 6rem 0;

    h2 {
      text-align: center;
      color: $font-color-inverted;
      font-size: 2.25rem;
    }

    p {
      text-align: center;
      margin-top: 0;
      color: $light-grey;
      font-size: 1.25rem;
    }
  }

  img {
    height: $height-intro;
    width: 40%;
  }
}

// @media (max-width: $breakpoint-desktop) {
//   .introduction {
//     background-color: blue;
//   }
// }

@media (max-width: $breakpoint-tablet) {
  .introduction {
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;

    img {
      height: 20rem;
      width: 100%;
    }

    .content {
      width: 100%;
      padding: 0;

      p {
        margin: 1rem;
      }
    }
  }
}