@use "../../styles/variables" as *;

.introduction {
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5rem 6rem 0;

    h2 {
      text-align: center;
      color: $font-color-inverted;
      font-size: 2.25rem;
    }

    p {
      text-align: center;
      margin-top: 0;
      color: $light-grey;
      font-size: 1.25rem;
    }
  }

  img {
    height: 35rem;
  }
}