@use "../styles/variables" as *;

.faq {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 8rem;
    text-align: center;
  }

  .content {
    margin: 1rem;

    p {
      padding-left: 1rem;
      margin-bottom: 2rem;
    }
  }
}

// @media (max-width: $breakpoint-desktop) {
//   .faq {
//     background-color: blue;
//   }
// }

@media (max-width: $breakpoint-tablet) {
  .faq {
    h2 {
      margin-top: 3rem;
    }
  }
}