@use "styles/variables" as *;

.homepage {
  @include center;
  height: 100vh;
  background-color: $light-grey;
  color: $font-color;

  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}